<section data-ng-controller="SidebarController" >
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a ui-sref="home" data-ng-bind="authentication.user.displayName"></a>
        </li>
        <li>
            <a ui-sref="profile">Profil</a>
        </li>
        <li>
            <a ui-sref="mission.listMissions({userId : authentication.user._id})">Missions</a>
        </li>
        <li>
            <a ui-sref="messages.listMessages({userId : authentication.user._id})">Messagerie</a>
        </li>
        <li>
            <a ui-sref="search">Recherche</a>
        </li>

    </ul>
</section>
