<section data-ng-controller="SidebarController">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="#" data-ng-bind="authentication.user.displayName"></a>
        </li>
        <li>
            <a href="/#!/settings/profile">Profil</a>
        </li>
        <li>
            <a ui-sref="mission.listMissions">Missions</a>
        </li>
        <li>
            <a ui-sref="listMessages({userId : authentication.user._id})">Messagerie</a>
        </li>
        <li>
            <a ui-sref="search">Recherche</a>
        </li>

    </ul>
</section>
