<section>
    <div class="page-header">
        <h1>Missions <i ui-sref="mission.createMission" class="glyphicon glyphicon-plus"></i></h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="mission in missions"  ui-sref="thisMission.viewMission({missionId : mission._id})" class="list-group-item">
			<small class="list-group-item-text" >
				Posted on
				<span data-ng-bind="mission.createdOn | date:'mediumDate'"></span>
				by
				<span data-ng-bind="mission.createdBy.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="mission.name" ></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!missions.$resolved || missions.length">
    	No Missions yet, why don't you <a ui-sref="mission.createMission">create one</a>?
    </div>
</section>
