<h2>
    Template - Jeu de carte Japonais
</h2>
<div class="container">
    <div class="row">
        <h3>Créer une carte</h3>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <input placeholder="Kanji"><br/>
            <input placeholder="Traduction"><br/>
            <input placeholder="Prononciation japonaise"><br/>
            <input placeholder="Phrase en français"><br/>
            <input placeholder="Phrase en japonais"><br/>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-0">

        </div>
    </div>

    <div class="row">
        <h3>Questions</h3>
        <div>

        </div>
    </div>
</div>
